#apic {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-size: cover;
  background-position: 50% 100%;
  width: 100%;
  /* height: 100%; */
}
#apic > h1 {
  font-size: xx-large;
  color: var(--dark);
  margin-bottom: 1rem;
  font-weight: 600;
  text-align: center;
  width: 90%;
}
.line-break + span {
  font-weight: lighter;
  margin-top: 1.5rem;
  width: 80%;
  text-align: center;
}
.apic-list {
  display: grid;
  width: 75%;
  gap: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.apic-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  border: 1px solid white;
  border-radius: 0.5rem;
  margin: 0;
  padding: 1rem;
  background-color: white;
  font-weight: 600;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.apic-elements > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
}
.apic-elements > span {
  color: gray;
  width: 80%;
}
.apic-elements:hover {
  transform: scale(1.1);
}
.postText {
  width: 75%;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  list-style-image: url("../assets/mappr/images/tick-icon.svg");
}
