.pricing {
  width: 75%;
  margin: 0 auto;
}
.pricing .card-header {
  background-color: rgba(0, 0, 0, 0.493);
}
.list-price {
  text-align: left;
  /* margin-left: -3rem; */
  list-style: circle;
  width: 280px;
}
@media (min-width: 1024px) {
  .pricing .card {
    height: 452px;
  }
  .list-price {
    width: 320px;
  }
  .mt-n2{
    margin-top: -6rem;
  }
}
