.report {
  width: 75%;
  margin: 0 auto;
}
.report-heading {
  text-align: center;
}
.left-container h1 {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
}
/* .right-container {
  height: 350px !important;
} */
.right-container img {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  object-fit: contain;
  /* border-radius: 1rem; */
  /* padding: 1rem; */
}
.reportCarousel {
  width: 100%;
  height: 100%;
}
@media (min-width: 1024px) {
  .left-container h1 {
    margin: 0;
    font-size: 44px;
    line-height: 63px;
  }
  .report-heading {
    text-align: left;
  }
  .reportCarousel {
    width: 50%;
    height: 100%;
  }
  .right-container img {
    height: 400px !important;
    width: 100% !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    object-fit: contain;
    /* border-radius: 1rem; */
    /* padding: 1rem; */
  }
}
